.hidden {
    display: none;
}

body {
    color: white;
}

#clock {
    font-size: 800%;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 200px;
}

#greeting {
    font-size: 300%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-style {
    text-align: center;
}

#login-form {
    margin-top: 5px;
    margin-bottom: 5px;
}

#todo-form {
    margin-top: 10px;
}

input {
    width: 300px;
    height: 50px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 3px solid white;
    color: white;
    font-size: 100%;
    background-color: transparent
}

input::placeholder {
    color: white;
}

ul {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: transparent;
    border: none;
}

img {
    position: absolute;
    width: 100%;
    height:100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 100%;
}